{% extends 'account.html' %}

  {%block bread%}
  <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/my-account">Личный кабинет</a></li>
        <li><a href="/forgot-password">Забытый пароль?</a></li>
      </ul>
  {%endblock%}
{%block account_content%}

<div id="content" class="col-sm-9">      <h1>Забыли пароль?</h1>
      <p>Введите адрес электронной почты вашей учетной записи. Нажмите кнопку Продолжить, чтобы получить пароль по электронной почте.</p>
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>Ваш E-Mail</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">E-Mail:</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="" placeholder="E-Mail:" id="input-email" class="form-control">
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="pull-left"><a href="/login" class="btn btn-default">Назад</a></div>
          <div class="pull-right">
            <input type="submit" value="Продолжить" class="btn btn-primary">
          </div>
        </div>
      </form>
      </div>

{%endblock%}