{% extends 'account.html' %}


{%block bread%}
  <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="/register">Быстрая регистрация</a></li>
    </ul>
{%endblock%}
{%block account_content%}
<div id="content" class="col-sm-9">
  <h1>Быстрая регистрация</h1>
  <div class="simple-content">
        <form action="" method="post" enctype="multipart/form-data" id="simplepage_form">
        <div class="simpleregister" id="simpleregister">
            <p class="simpleregister-have-account">Если Вы уже зарегистрированы, перейдите на страницу <a href="/login">входа в систему</a>.</p>
                        <div class="simpleregister-block-content">
                                  <fieldset class="form-horizontal">                                  <div class="form-group required row-register_email">
    <label class="control-label col-sm-2" for="register_email">Email</label>
    <div class="col-sm-10">
              <input class="form-control" type="email" name="email" id="register_email" value="" placeholder="" data-reload-payment-form="true">
                    <div class="simplecheckout-rule-group" data-for="register_email">
                      <div style="display:none;" data-for="register_email" data-rule="api" class="simplecheckout-error-text simplecheckout-rule" data-method="checkEmailForUniqueness" data-filter="register_register" data-filter-value="1" data-required="true">Адрес уже зарегистрирован!</div>
                      <div style="display:none;" data-for="register_email" data-rule="regexp" class="simplecheckout-error-text simplecheckout-rule" data-regexp=".+@.+" data-required="true">Некорректный адрес электронной почты!</div>
                  </div>
                </div>
 </div>                                  
 <div class="form-group required row-register_firstname">
    <label class="control-label col-sm-2" for="register_firstname">Фамилия Имя Отчество </label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="firstname" id="register_firstname" value="" placeholder="" data-reload-payment-form="true">
    </div>
 </div>
  <div class="form-group required row-register_password">
    <label class="control-label col-sm-2" for="register_firstname">Пароль</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" type="text" name="password" id="register_password" value="" placeholder="" data-reload-payment-form="true">
    </div>
 </div>  
 <div class="form-group required row-register_telephone">
    <label class="control-label col-sm-2" for="register_telephone">Телефон</label>
    <div class="col-sm-10">
              <input class="form-control" type="tel" name="telephone" id="register_telephone" value="" placeholder="" data-mask="+38 (999) 999-99-99" data-reload-payment-form="true">
                      </div>
 </div>                                  <div class="form-group  row-register_city">
 </div>
 <div class="form-group  row-register_address_1">
    <label class="control-label col-sm-2" for="register_address_1">Склад Новой Почты</label>
    <div class="col-sm-10">
              <input class="form-control" type="text" name="address" id="register_address_1" value="" placeholder="укажите номер или адрес склада" data-reload-payment-form="true" data-original-title="" title="">
                    <div class="simplecheckout-rule-group" data-for="register_address_1">
                      <div style="display:none;" data-for="register_address_1" data-rule="byLength" class="simplecheckout-error-text simplecheckout-rule" data-length-min="1" data-length-max="128">Адрес должен быть от 3 до 128 символов!</div>
                  </div>
          </div>
 </div>
 <div class="form-group  row-register_captcha">
  <label class="control-label col-sm-2" for="register_address_1">Код</label>
  <div class="col-sm-10">
    <input type="text" name="captcha">
    {{ captcha() }}
  </div>
</div>
</fieldset></div>

            
            <div class="simpleregister-button-block buttons">
                <div class="simpleregister-button-right">
                                        <button class="button btn-primary button_oc btn" type="submit" id="simpleregister_button_confirm"><span>Продолжить</span></button>
                </div>
            </div>
        </div>
            </form>
</div>
      </div>
{%endblock%}